<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    <!-- if/else conditional to display title of specific page not just the default app title -->
    {% if title %}
    <title>Flask Messenger - {{ title }}</title>
    {% else %}
    <title>Flask Messenger</title>
    {% endif %}
</head>
<body>

    <header>
        <!-- top navbar -->
        <nav class="light-blue darken-1">
            <div class="nav-wrapper">
                <a href="{{ url_for('home') }}" class="brand-logo">Flask Messenger</a>
                <a href="" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('about') }}">About</a></li>
                    <li><a href="">Login</a></li>
                    <li><a href="">Register</a></li>
                </ul>
            </div>
        </nav>
        
        <!-- mobile sidenav -->
        <ul class="sidenav" id="mobile-demo">
            <li><a href="{{ url_for('home') }}">Home</a></li>
            <li><a href="{{ url_for('about') }}">About</a></li>
            <li><a href="">Login</a></li>
            <li><a href="">Register</a></li>
        </ul>
    </header>

    <main class="container left-align">
        <div class="row">
            <div class="s12 m6">
                <!-- child template content is displayed here -->
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </main>

    <!-- footer and social media links -->
    <footer>
        <ol class="social-networks">
            <li>
                <a href="https://www.facebook.com" target="_blank" rel="noopener"
                    aria-label="Find us on Facebook (link opens in a new tab)"> <i class="fab fa-facebook-square"></i></a>
            </li>
            <li>
                <a href="https://www.twitter.com" target="_blank" rel="noopener"
                    aria-label="Find us on Twitter (link opens in a new tab)"> <i class="fab fa-twitter-square"></i></a>
            </li>
            <li>
                <a href="https://www.instagram.com" target="_blank" rel="noopener"
                    aria-label="Find us on Instagram (link opens in a new tab)"> <i class="fab fa-instagram-square"></i></a>
            </li>
            <li>
                <a href="https://www.youtube.com" target="_blank" rel="noopener"
                    aria-label="Find us on Youtube (link opens in a new tab)"> <i class="fab fa-youtube"></i></a>
            </li>
        </ol>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>
</html>