{% extends "base.html" %}
{% block content %}
{% for post in posts %}
<article>
    <div class="content-section">
        <img class="account-img" src="{{ url_for('static', filename='img/' + post.author.profile_image) }}" alt="profile picture">
        <div class="content-metadata">
            <a href="#">{{ post.author.username }}</a>
            <small>{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
        </div>
        <h2><a class="message-title" href="{{ url_for('posts', post_id=post.id) }}">{{ post.title }}</a></h2>
        <p class="message-content">{{ post.content }}</p>
    </div>
</article>
{% endfor %}
{% endblock content %}