{% extends "base.html" %}
{% block content %}
<article>
    <div class="content-section">
        <img class="account-img" src="{{ url_for('static', filename='img/' + post.author.profile_image) }}">
        <div class="content-metadata">
            <a href="#">{{ post.author.username }}</a>
            <small>{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
        </div>
        <h2 class="message-title">{{ post.title }}</h2>
        <p class="message-content">{{ post.content }}</p>
    </div>
</article>
{% endblock content %}