{% extends "base.html" %}
{% block content %}
<form class="register-login-form" action="" method="POST">
    {{ form.hidden_tag() }}
    <h5>Join Today</h5>
    <div>
        <!-- takes username variable from the forms.py file -->
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="text-input") }}
    </div>

    <div>
        <!-- takes email variable from the forms.py file -->
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="text-input") }}
    </div>

    <div>
        <!-- takes password variable from the forms.py file -->
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="text-input") }}
    </div>

    <div>
        <!-- takes password_confirm variable from the forms.py file -->
        {{ form.confirm_password.label(class="form-label") }}
        {{ form.confirm_password(class="text-input") }}
    </div>

    <div>
        {{ form.submit(class="btn-submit") }}
    </div>
</form>
<div>
    <small>
        Already Have An Account? <a href="{{ url_for('login') }}">Sign In Here</a>
    </small>
</div>
{% endblock content %}
