/* default styles for all pages */

html {
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background-color: #eceff1;
}

/* custom CSS styles for home page message boards*/

.content-section {
    background: #fafafa;
    padding: 10px 20px;
    border: 1px solid;
    border-radius: 10px;
    margin-bottom: 20px;
    margin-top: 20px
}

.message-title {
    color: #777777;
}

a.message-title:hover {
    color: #428bca;
    text-decoration: none;
}

.message-content {
    white-space: pre-line;
}

.content-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid, #777777;
}

.content-metadata a:hover {
    color: #333;
    text-decoration: none;
}

/* footer styles for all pages */

footer {
    height: 200px;
    background-color: #039be5;
    box-shadow: 0 0 5px #000000;
}

.social-networks {
    text-align: center;
}

.social-networks li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: white;
}

.social-networks i:hover {
    color: #f16c6b;
}